<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>startP</title>
</head>
<link rel="stylesheet" href="/css/main.css" type="text/css">
<body>
    <%- include('header.ejs') -%>
    <section>
        <div class="contentBox" id="contentBox1">
            <% if(mode == "add"){ %>
                <form action="/r1/createMemo" method="post">
                    <table>
                        <span>title</span>
                        <div>
                            <input type="text" name="title" placeholder="title">
                        </div>
                        <span>memo</span>
                        <div>
                            <textarea name="memo" cols="30" rows="10"></textarea>
                        </div>
                        <div>
                            <button type="submit" id="add_memo">저장</button>
                        </div>
                    </table>
                </form>
            <% }else{ %>
                <form action="/r1/updateMemo" method="post">
                    <table>
                        <div>
                            <input type="hidden" name="id" placeholder="title" value="<%=title%>">
                        </div>
                        <span>title</span>
                        <div>
                            <input type="text" name="title" placeholder="title" value="<%=title%>">
                        </div>
                        <span>memo</span>
                        <div>
                            <textarea name="memo" cols="30" rows="10"><%=memo%></textarea>
                        </div>
                        <div>
                        <button type="submit" id="up_memo">수정</button>
                        </div>
                    </table>
                </form>
                <form action="/r1/deleteMemo" method="post">
                    <input type="hidden" name="title" placeholder="title" value="<%=title%>">
                    <button type="submit" id="del_memo">삭제</button>
                </form>
            <% } %>
        </div>
    </section>
    <%- include('footer.ejs') -%>
</body>
</html>

